/* S E C T I O N · G O * * * * * * * */

.go{
    width: 100%;
    position: relative;
    top: 0px;

    .section-wrapper{
        width: 100%;
        padding: 30px 15px 45px 15px;

        @include media($tablet){
            padding: 60px 40px;
        }

        @include media($desktop){
            max-width: 730px;
            margin: 0 auto;
        }    

        .go__header{
            font-size: rem(14);
            color: $color-secondary-light;
        }

        .go__title{
            text-transform: capitalize;
        }

        .go__text{
            margin-bottom: 30px;
            color: $color-grey;
        }
    }
}

/* S E C T I O N · R E A S O N S * * * * * * * */

.reasons{
    width: 100%;
    background-color: $color-secondary-lightest;
    text-align: center;

    .section-wrapper{
        width: 100%;
        padding: 30px 15px 60px 15px;

        h2{
            text-transform: capitalize;
        }

        .reasons__list{
            width: 60%;
            margin: 45px auto 0 auto;

            &--item{
                margin-bottom: 45px;

                h3, p{
                    margin: 0;
                    line-height: 1.7;
                }
            }
        }
    }
}