<footer class="footer" role="contentinfo">
    <a class="footer__button" href="#hero"><button class="btn__arrow-top"></button></a>
    <div class="section-wrapper">
        <ul class="footer__nav links">
            <a href="#"><li>Articles</li></a>
            <a href="#"><li>Books</li></a>
            <a href="#"><li>Events</li></a>
            <a href="#"><li>Reasons</li></a>
            <a href="#"><li>Tips</li></a>
        </ul>
        <ul class="footer__social links">
            <a href="https://twitter.com/" target="_blank"><li>Twitter</li></a>
            <a href="https://www.instagram.com/" target="_blank"><li>Instagram</li></a>
            <a href="https://mastodon.social/about" target="_blank"><li>Mastodon.social</li></a>
        </ul>
        <ul class="footer__copy">
            <li>© 2017</li>
            <li>we ❤ <span>components</span></li>
        </ul>
    </div>
</footer>