<footer class="footer">
    <a href="#hero"><div class="btn__arrow-top"></div></a>
    <div class="section-wrapper">
        <ul class="footer__nav links">
            <a href="#"><li>Articles</li></a>
            <a href="#"><li>Books</li></a>
            <a href="#"><li>Events</li></a>
            <a href="#"><li>Reasons</li></a>
            <a href="#"><li>Tips</li></a>
        </ul>
        <ul class="footer__social links">
            <a href="#"><li>Twitter</li></a>
            <a href="#"><li>Instagram</li></a>
            <a href="#"><li>Mastodon.social</li></a>
        </ul>
        <ul class="footer__copy">
            <li>© 2017</li>
            <li>we <span>❤</span> components</li>
        </ul>
    </div>
</footer>