<section id="reasons" class="reasons">
    <div class="section-wrapper">
        <h2>3 reasons to purchase</h2>
        <ul class="reasons__list">
            <li class="reasons__list--item">
                <h3>Ut sed metus</h3>
                <p>Lorem ipsum dolor sit amet, consecteur.</p>
            </li>
            <li class="reasons__list--item">
                <h3>Curabitur ac erat</h3>
                <p>Mauris mattis urna quis lorem molestie.</p>
            </li>
            <li class="reasons__list--item">
                <h3>Morbi dictum</h3>
                <p>Aliquam in dolor et dolor tincidunt.</p>
            </li>
        </ul>
        <div class="btn__solid">More reasons</div>
    </div>  
</section>