@keyframes bottom{
    0%{
        transform: translateY(-10px);
    }
    33%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes top{
    0%{
        transform: translateY(10px);
    }
    33%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
