.btn__arrow-down{
    width: 45px;
    height: 45px;
    margin: 0;
    border-radius: 50%;
    background-image: url('../images/ico-scroll-down.svg');
    background-color: $color-white;
    background-position: center;
    background-repeat: no-repeat;
}

.btn__frame{
    display: inline-block;
    height: 46px;
    line-height: 46px;
    margin: 0;
    padding: 0 25px;
    color: $color-main;
    border: 2px solid $color-main;
    border-radius: 23px;
    font-size: rem(20);

    @include media($tablet){
        padding: 0 34px;
    }

    @include media($desktop){
        padding: 0 67px;
    }
}

.btn__solid{
    display: inline-block;
    height: 46px;
    line-height: 46px;
    margin: 0;
    padding: 0 30px; 
    background-color: $color-main;
    border-radius: 23px;
    color: $color-white;
    font-size: rem(20);
}