.btn__arrow-down{
    @include roundButton();
    background-image: url('../images/ico-scroll-down.svg');
    background-color: $color-white;
    background-position: center;
    background-repeat: no-repeat;
}

.btn__frame{
    @include longButton();
    padding: 0 25px;
    color: $color-main;
    border: 2px solid $color-main;
    transition: background-color ease 1s, border ease 1s;

    &:hover{
        background-color: $color-main;
        border: 2px solid $color-white;
        color: $color-white;
    }

    @include media($tablet){
        padding: 0 34px;
    }

    @include media($desktop){
        padding: 0 67px;
    }
}

.btn__solid{
    @include longButton();
    padding: 0 30px; 
    background-color: $color-main;
    color: $color-white;
    transition: background-color ease 1s, border ease 1s;

    &:hover{
        background-color: $color-white;
        border: 2px solid $color-main;
        color: $color-main;
    }

    @include media($tablet){
        padding: 0 42px;
    }

    @include media($desktop){
        padding: 0 62px;
    }
}

.btn__arrow-top{
    @include roundButton();
    background-image: url('../images/ico-arrow.svg');
    background-color: $color-white;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.178);
}