body{
    font-family: $font-text;
}

h1, h2, h3, h4{
    font-family: $font-title;
}

h2{
    font-size: rem(24);

    @include media($tablet){
        font-size: rem(26);
    }

    @include media($desktop){
        font-size: rem(32);
    }
}

h3{
    font-size: rem(18);

    @include media($tablet){
        font-size: rem(24);
    }
}

p{
    font-size: rem(18);
    line-height: 1.7;

    @include media($tablet){
        font-size: rem(20);
    }
}