.header{
    width: 44px;
    height: 44px;
    background-image: url('../images/ico-menu.svg');
    background-color: $color-secondary;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    cursor: pointer;
}